<h1>Expenditures</h1>
<table align="center">
    <tr>
        <td>
            <table align="left">
                <tr>
                    <td>
                        <button class="button btn-danger" ng-click="deleteAll()" text>Delete ALL</button>
                        <button class="button btn-secondary" ng-click="getLoad()" text>Load Initial Data</button>
                        <button class="button btn-primary" ng-click="getSearch()" text>Search...</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table align="right">
                <tr>
                    <td>Usuario: </td>
                    <td><input class="form-control" ng-model="user" /></td>
                </tr>
                <tr>
                    <td>Contraseña: </td>
                    <td><input type="password" class="form-control" ng-model="pass"></td>
        </td>
        </tr>
        <tr>
            <td><button class="button btn-warning" ng-click="getExpendituresSecured()" text>Login</button></td>
        </tr>
        </table>
        </td>
    </tr>
</table>
<table class="table table-hover table-dark">
    <thead class="thead-dark">
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Primary</th>
            <th>Secundary</th>
            <th>Tertiery</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newExpenditure.country" /></td>
            <td><input class="form-control" ng-model="newExpenditure.year" /></td>
            <td><input class="form-control" ng-model="newExpenditure.primary" /></td>
            <td><input class="form-control" ng-model="newExpenditure.secundary" /></td>
            <td><input class="form-control" ng-model="newExpenditure.tertiery" /></td>
            <td><button class="button btn-primary" ng-click="addExpenditure()" text>Add</button></td>
        </tr>
        <tr ng-repeat="expenditures in expenditures">
            <td><a href="/files/expenditures/#!/{{expenditures.country}}/{{expenditures.year}}">{{expenditures.country}}</a></td>
            <td>{{expenditures.year}}</td>
            <td>{{expenditures.primary}}</td>
            <td>{{expenditures.secundary}}</td>
            <td>{{expenditures.tertiery}}</td>
            <td><button class="button btn-danger" ng-click="deleteExpenditure(expenditures.country, expenditures.year)" text>Delete</button></td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<div id="numberPagination" disabled=true>
    <table align="center">
        <td><button class="btn btn-info" ng-click="getPage(-10)">Prev</button></td>
        <td><button class="btn btn-info" ng-click="getPage(10)">Next</button></td>
    </table>
</div>
<div>{{status}}</div>
