<h1>Unemployments</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Young</th>
            <th>Adult</th>
            <th>Old</th>
            <th>Longterm</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newUnemployment.country" /></td>
            <td><input class="form-control" ng-model="newUnemployment.year" /></td>
            <td><input class="form-control" ng-model="newUnemployment.young" /></td>
            <td><input class="form-control" ng-model="newUnemployment.adult" /></td>
            <td><input class="form-control" ng-model="newUnemployment.old" /></td>
            <td><input class="form-control" ng-model="newUnemployment.longterm" /></td>
            <td><button class="button btn-primary" ng-click="addUnemployment()" text>Add</button></td>
        </tr>
        <tr ng-repeat="unemployments in unemployments">
            <td><a href="/files/unemployments/#!/{{unemployments.country}}/{{unemployments.year}}">{{unemployments.country}}</a></td>
            <td>{{unemployments.year}}</td>
            <td>{{unemployments.young}}</td>
            <td>{{unemployments.adult}}</td>
            <td>{{unemployments.old}}</td>
            <td>{{unemployments.longterm}}</td>
            <td><button class="button btn-danger" ng-click="deleteUnemployment(unemployments.country, unemployments.year)" text>Delete</button></td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" ng-click="prueba()">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<button class="button btn-danger" ng-click="deleteAll()" text>Delete ALL</button>
<button class="button btn-secondary" ng-click="getLoad()" text>Load Initial Data</button>
<button class="button btn-primary" ng-click="getSearch()" text>Search...</button>
<button class="button btn-primary" ng-click="getCount()" text>Pruebas</button>
<div class="form-group">
    <label for="limit">Limit</label>
    <select class="form-control" id="limit">
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
    </select>
</div>
<div>{{status}}</div>
