
<h1>Edit Employments</h1>
<table class="table">
     <thead>
     <tr>
         <th>Country</th>
         <th>Year</th>
         <th>Total Self</th>
         <th>Total Salaried</th>
         <th>Total Contributing Family Worker </th>
         <th>Actions</th>
     </tr>
     </thead>
     <tbody>
         <tr>
             <td>{{updtEmployment.country}}</td>
             <td>{{updtEmployment.year}}</td>
             <td><input type="number"class="form-control" ng-model="updtEmployment.totalself" /></td>
             <td><input type="number"class="form-control" ng-model="updtEmployment.totalsalaried" /></td>
             <td><input type="number"class="form-control" ng-model="updtEmployment.totalcontributingfamilyworker" /></td>
             <td><button class="button btn-primary" ng-click="updateEmployment()">Update</button></td>
         </tr>
    </tbody>     
    </table>
 <hr/>
 <h8><i>{{status}}</i></h8>	