<h1>Edit</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Primary</th>
            <th>Secundary</th>
            <th>Tertiery</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data.country}}</td>
            <td>{{data.year}}</td>
            <td><input class="form-control" ng-model="data.primary" /></td>
            <td><input class="form-control" ng-model="data.secundary" /></td>
            <td><input class="form-control" ng-model="data.tertiery" /></td>
            <td><button class="button btn-primary" ng-click="updateExpenditure()" text>Update</button></td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Total Self</th>
            <th>Total Salaried</th>
            <th>Total Contributing Family Worker </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data.country}}</td>
            <td>{{data.year}}</td>
            <td><input class="form-control" ng-model="data.totalself" /></td>
            <td><input class="form-control" ng-model="data.totalsalaried" /></td>
            <td><input class="form-control" ng-model="data.totalcontributingfamilyworker" /></td>
            <td><button class="button btn-primary" ng-click="updateEmployment()" text>Update</button></td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Young</th>
            <th>Adult</th>
            <th>Old </th>
            <th>Long term </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data.country}}</td>
            <td>{{data.year}}</td>
            <td><input class="form-control" ng-model="data.young" /></td>
            <td><input class="form-control" ng-model="data.adult" /></td>
            <td><input class="form-control" ng-model="data.old" /></td>
            <td><input class="form-control" ng-model="data.longterm" /></td>
            <td><button class="button btn-primary" ng-click="updateUnemployment()" text>Update</button></td>
        </tr>
    </tbody>
</table>


<div>{{status}}</div>
