<h1>API</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Primary</th>
            <th>Secundary</th>
            <th>Tertiery</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newExpenditure.country" /></td>
            <td><input class="form-control" ng-model="newExpenditure.year" /></td>
            <td><input class="form-control" ng-model="newExpenditure.primary" /></td>
            <td><input class="form-control" ng-model="newExpenditure.secundary" /></td>
            <td><input class="form-control" ng-model="newExpenditure.tertiery" /></td>
            <td><button class="button btn-primary" ng-click="addExpenditure()" text>Add</button></td>
        </tr>
        <tr ng-repeat="expenditures in expenditures">
            <td><a href="/opcional/#!/{{expenditures.country}}/{{expenditures.year}}">{{expenditures.country}}</a></td>
            <td>{{expenditures.year}}</td>
            <td>{{expenditures.primary}}</td>
            <td>{{expenditures.secundary}}</td>
            <td>{{expenditures.tertiery}}</td>
            <td><button class="button btn-danger" ng-click="deleteExpenditure(expenditures.country, expenditures.year)" text>Delete</button></td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>

<button class="button btn-danger" ng-click="deleteAll()" text>Delete ALL</button>
<button class="button btn-secondary" ng-click="getLoad()" text>Load Initial Data</button>



<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Total Self</th>
            <th>Total Salaried</th>
            <th>Total Contributing Family Worker </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newEmployment.country" /></td>
            <td><input type="number" class="form-control" ng-model="newEmployment.year" /></td>
            <td><input type="number" class="form-control" ng-model="newEmployment.totalself" /></td>
            <td><input type="number" class="form-control" ng-model="newEmployment.totalsalaried" /></td>
            <td><input type="number" class="form-control" ng-model="newEmployment.totalcontributingfamilyworker" /></td>
            <td><button class="button btn-primary" ng-click="addEmployment()">Add</button></td>
        </tr>
        <tr ng-repeat="employment in employments">
            <td><a href="/opcional/#!/{{employment.country}}/{{employment.year}}">{{employment.country}}</a></td>
            <td>{{employment.year}}</td>
            <td>{{employment.totalself}}</td>
            <td>{{employment.totalsalaried}}</td>
            <td>{{employment.totalcontributingfamilyworker}}</td>

            <td><button class="button btn-danger" ng-click="deleteEmployment(employment.country,employment.year)">Delete</button></td>
        </tr> 
       </tbody>
</table>
<td><button class="button btn-danger" ng-click="deleteAllEmployment()">Delete All</button></td>
<td><button class="button btn-secondary" ng-click="getLoad()" text>Load Initial Data</button></td>





<table class="table">
    <thead>
        <tr>
           <th>Country</th>
            <th>Year</th>
            <th>Young</th>
            <th>Adult</th>
            <th>Old</th>
            <th>Longterm</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td><input class="form-control" ng-model="newUnemployment.country" /></td>
            <td><input class="form-control" ng-model="newUnemployment.year" /></td>
            <td><input class="form-control" ng-model="newUnemployment.young" /></td>
            <td><input class="form-control" ng-model="newUnemployment.adult" /></td>
            <td><input class="form-control" ng-model="newUnemployment.old" /></td>
            <td><input class="form-control" ng-model="newUnemployment.longterm" /></td>
            <td><button class="button btn-primary" ng-click="addUnemployment()" text>Add</button></td>
        </tr>
       <tr ng-repeat="unemployments in unemployments">
            <td><a href="/files/unemployments/#!/{{unemployments.country}}/{{unemployments.year}}">{{unemployments.country}}</a></td>
            <td>{{unemployments.year}}</td>
            <td>{{unemployments.young}}</td>
            <td>{{unemployments.adult}}</td>
            <td>{{unemployments.old}}</td>
            <td>{{unemployments.longterm}}</td>
            <td><button class="button btn-danger" ng-click="deleteUnemployment(unemployments.country, unemployments.year)" text>Delete</button></td></tr> 
       </tbody>
</table>
<td><button class="button btn-danger" ng-click="deleteAllUnemployment()">Delete All</button></td>
<td><button class="button btn-secondary" ng-click="getLoad()" text>Load Initial Data</button></td>


<hr/>
<h8><i>{{status}}</i></h8>
