<div id="table_div"></div>

<form>
    Select a country:
    <select ng-model="myVar">
    <option value="austria">austria
    <option value="belgium">belgium
    <option value="croatia">croatia
    <option value="cyprus">cyprus
    <option value="czech-rep">czech-rep
    <option value="denmark">denmark
    <option value="estonia">estonia
    <option value="finland">finland
    <option value="france">france
    <option value="germany">germany
    <option value="greece">greece
    <option value="hungary">hungary
    <option value="ireland">ireland
    <option value="italy">italy
    <option value="latvia">latvia
    <option value="lithuania">lithuania
    <option value="luxembourg">luxembourg
    <option value="malta">malta
    <option value="netherlands">netherlands
    <option value="poland">poland
    <option value="portugal">portugal
    <option value="romania">romania
    <option value="slovakia">slovakia
    <option value="slovenia">slovenia
    <option value="spain">spain
    <option value="sweden">sweden
    <option value="united-kingdom">united-kingdom
    </select>
    <button class="btn btn-info" ng-click="weather(myVar)">Ok</button>
</form>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<canvas id="chartJSContainer" width="600" height="400"></canvas>