<div class="container-fluid">
    <h1 class="manager-title">Funny APIs</h1>
    
    <div>
        <h3>Chuck Norris</h3>
        <button type="button" class="btn btn-primary" ng-click="getNorris()">Get Random Joke</button>
        <!--<img src={{norris.icon_url}}>-->
        <pre>{{norris.value}}</pre>
    </div>
    <div>
        <h3>Fancy Text</h3>
        <input placeholder="Text" class="form-control" ng-model="text" />
        <button type="button" class="btn btn-info" ng-click="getFancyText()">Get Fancy tex</button>
        
        <h3><strong>{{fancyText.fancytext}}</strong></h4>
    </div>
    
</div>